---
import { Image } from "astro:assets";
import profile from "../images/profile.jpg";
import ferryFriendHero from "../images/ff/hero-long.png";
import rebuHero from "../images/rebu/rebu-square.png";
import tileHome from "../images/tilemaker/tile-home.png";
import todoHome from "../images/demos/todo-square.png";
import Portfoliocard from "../components/PortfolioCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brendan Smith">
    <div class="mx-auto flex h-screen items-center justify-center">
        <div class="flex-col flex items-center p-5">
            <Image
                src={profile}
                class="rounded-full h-48 w-48"
                alt={"Brendan Smith"}
                loading={"eager"}
            />
            <section
                class="space-y-4 text-balance max-w-xs text-center text-lg"
            >
                <h1 class="mt-3 text-3xl">Brendan Smith</h1>
                <p>
                    I am a software developer who solves real problems with
                    modern technologies.
                </p>
                <p>
                    Contact me by emailing{" "}
                    <a class="decoration-2" href="mailto:me@brendansmith.dev">
                        me@brendansmith.dev
                    </a>
                </p>
                <p class="inline-flex justify-around px-4 w-full">
                    <a
                        class="decoration-2"
                        href="https://github.com/brendanrsmith"
                    >
                        GitHub
                    </a>
                    <a
                        class="decoration-2"
                        href="https://www.linkedin.com/in/brendanrsmith/"
                    >
                        LinkedIn
                    </a>
                </p>
            </section>
        </div>
    </div>
    <div id="portfolio" class="m-auto mb-10 max-w-4xl">
        <div class="-mt-10 pt-2 text-center">
            <a
                class="text-inherit hover:animate-pulse hover:text-inherit hover:no-underline"
                href="#portfolio"
            >
                Projects <span class="font-sans">⤵</span>
            </a>
        </div>
        <div class="mx-auto my-8 grid max-w-3xl grid-cols-1 sm:grid-cols-2">
            <Portfoliocard
                url={"/ferryfriend"}
                img={ferryFriendHero}
                title={"FerryFriend 4"}
                subTitle={"A ground-up rebuild of the FerryFriend app using React Native"}
                hero
            />
            <Portfoliocard
                url={"/rebu"}
                img={rebuHero}
                title={"Rebu Native"}
                subTitle={"A React Native ridesharing app demo completed in 4 days"}
            />
            <Portfoliocard
                url={"/demos"}
                img={todoHome}
                title={"Demonstration Projects"}
                subTitle={"Classic feature demonstration apps"}
            />
            <Portfoliocard
                url={"/tilemaker"}
                img={tileHome}
                title={"TileMaker"}
                subTitle={"The first thing I ever built"}
            />
        </div>
    </div>
</Layout>
