---
interface Props {
    url: string;
    img: ImageMetadata;
    title: string;
    subTitle: string;
    hero?: boolean;
}
import { Image } from "astro:assets";
const { url, img, title, subTitle } = Astro.props;
---

<div
    class="mx-auto max-w-4xl overflow-clip border-t border-indigo-500/80 w-full transition-all hover:underline dark:border-0"
>
    <a
        data-astro-prefetch
        href={url}
        class="text-inherit hover:text-inherit hover:no-underline"
    >
        <div class="p-2">
            <div class="text-lg font-light no-underline">
                {title}
            </div>
            <div class="font-semibod h-10 text-sm">{subTitle}</div>
        </div>
        <Image
            class="object-contain h-full max-h-96 w-full"
            src={img}
            alt={title}
        />
    </a>
</div>
